{% extends 'base.html' %}
<!-- Extends base html -->

<!-- Title  -->
{% block title %} Add {% endblock %}
<!-- Content -->
{% block content %}

  <h1>Adoption</h1>
  <div class="row justify-content-center"></div>
  <form action="/add" method="POST">
    {{ form.hidden_tag() }}
    <!-- add type=hidden -->
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      <p>{{ field.label }} {{ field }}</p>
    </div>
    {% endfor %}

    <button class="btn btn-success">Submit</button>
  </form>
  </div>

{% endblock %}
