{% extends 'base.html' %}
<!-- Extends base html -->

<!-- Title  -->
{% block title %} Adoption Agency {% endblock %}
<!-- Content -->
{% block content %}
<div class="container">
  <h1 class="display-4 justify-content-center">Welcome to Adoption Agency!</h1>
  <div class="row justify-content-center">
    {% for pet in pets %}
    <div class="col-3">
      <img
        src="{{ pet.photo_url }}"
        alt="{{pet.id}}"
        class="src"
        height="200px"
        width="200"
      />
      <p>
        <a href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a> {% if
        pet.available %} is available! {% else %} is not available! {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
  <a href="/add" class="btn btn-success">Add Pet</a>
</div>
<!-- End Block -->
{% endblock %}
